@{
    ViewData["Title"] = "ListUsers";
}

@model IEnumerable<MBHS_Website.Models.Teacher>

@{
    ViewBag.Title = "All Users";
}
<script>
    function confirmDelete(uniqueId, isDeleteClicked) {
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;
        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>
@if (Model.Any())
{

    <h1>Staff</h1>
    <a id="register" asp-area="Identity" asp-page="/Account/Register" 
       class="btn btn-primary mb-3" style="width:auto">
        Add New User
    </a>

    foreach (var user in Model)
    {
        @if (user.Email != "principal@mbhs.com") {
        <div class="card mb-3">
            <div class="card-header">
                User Id : @user.Id
            </div>

            <div class="card-body">
                <h5 class="card-title">@user.Email</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.FirstName</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.LastName</h5>
            </div>
            <div class="card-footer">
                
                <form method="post" asp-action="DeleteUser" asp-route-UserId="@user.Id">
                    <a asp-action="EditUser" asp-controller="Account"
                       asp-route-UserId="@user.Id" class="btn btn-primary">Edit</a>
                    <span id="confirmDeleteSpan_@user.Id" style="display:none">
                        <span>Are you sure you want to Delete?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="#" class="btn btn-primary"
                           onclick="confirmDelete('@user.Id', false)">No</a>
                    </span>
                    <span id="deleteSpan_@user.Id">
                        <a href="#" class="btn btn-danger"
                           onclick="confirmDelete('@user.Id', true)">Delete</a>
                    </span>
                </form>
            </div>
        </div>
        }
    }
    }
else
{
    <div class="card">
        <div class="card-header">
            No Users Added Yet
        </div>
    </div>
  
    }

