@model PaginatedList<MBHS_Website.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>Subjects</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form asp-controller="Subject" asp-action="Index">
    <p>
        Subject: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SubjectSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Subject</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DepartmentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Department</a>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Title)
            </td>
                @if (User.IsInRole("Admin"))
                {
            <td>
                   

                <a asp-action="Edit" asp-route-id="@item.SubjectId">Edit</a> |




                <a asp-action="Details" asp-route-id="@item.SubjectId"> Details</a> |

                    
                   
                <a asp-action="Delete" asp-route-id="@item.SubjectId">Delete</a>
                    
            </td>
                }
                
        </tr>
}
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

