@model IEnumerable<MBHS_Website.Models.Grade>

@{
    ViewData["Title"] = "Index";
}

<h1>Grade</h1>
@if (User.IsInRole("User") || User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
<p>
    <a asp-action="Create">Create New</a>
</p>
                }
<table class="table">
    <thead>
        <tr>
            <th>
                Grade
            </th>
            <th>
                Subject
            </th>
            <th>
                Date
            </th>
            <th>
                Student
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.Subject.Title)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exam.Date)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
                @if (User.IsInRole("User") || User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
            <td>
                <a asp-action="Edit" asp-route-id="@item.GradeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GradeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GradeId">Delete</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>
