@model MBHS_Website.Models.StudentSubjectTeacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentSubjectTeacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentSubjectTeacherId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentSubjectTeacherId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectTeacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectTeacher.SubjectTeacherId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentSubjectTeacherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
