@model IEnumerable<MBHS_Website.Models.StudentSubjectTeacher>

@{
    ViewData["Title"] = "Index";
}

<h1>Student's Classes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                Teacher
            </th>
            <th>
                Subject
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SubjectTeacher.Teacher.FirstName) @Html.DisplayFor(modelItem => item.SubjectTeacher.Teacher.LastName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectTeacher.Subject.Title)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentSubjectTeacherId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentSubjectTeacherId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentSubjectTeacherId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
