@model PaginatedList<MBHS_Website.Models.StudentSubjectTeacher>

@{
    ViewData["Title"] = "Index";
}

<h1>Student's Classes</h1>
@if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
<p>
    <a asp-action="Create">Create New</a>
</p>

    <form asp-controller="StudentSubjectTeacher" asp-action="Index">
        <p>
            Student's Last Name: <input type="text" name="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>

                }
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StudentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Student</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TeacherSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Teacher</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SubjectSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Subject</a>
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SubjectTeacher.Teacher.FirstName) @Html.DisplayFor(modelItem => item.SubjectTeacher.Teacher.LastName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectTeacher.Subject.Title)
                </td>
                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentSubjectTeacherId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentSubjectTeacherId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentSubjectTeacherId">Delete</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
